<footer class = "main">
    <div class = "links">
        <h3>Quick links</h3>
        <ul class="footer-links">
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">About Us</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Contact Us</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Contribute</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Privacy Policy</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Careers</a></li>
        </ul>
    </div>
  <div><hr style="color: white; width: 100%"></div>
  <p>Copyright &copy; 2020. All Rights Reserved by <i style="color:cornflowerblue">FarmEasy Inc.</i></p>
</footer>
