<form #newPassFarmerForm="ngForm" (ngSubmit)="onSubmit(newPassFarmerForm)" ngNativeValidate>
    <div class="main">
    <br>
    <span style="color:darkblue;">
    <br><br>    
    
    </span>
    <div class="content">
    Registered Email &nbsp;&nbsp;&nbsp;
    <input type="text" name="farmerEmail" ngModel placeHolder="Enter your Email..." class="textbox" [(ngModel)] = "farmerEmail" required><br><br>

    New Password &nbsp;&nbsp;&nbsp;
    <input type="text" name="password" ngModel placeHolder="Enter your new password" class="textbox" [(ngModel)] = "password" required><br>
    <br><br><br>
    <button   class="loginbutton">Reset Password</button>&nbsp;&nbsp;&nbsp;
    <!-- <button routerLink='/' class="loginbutton">Home</button>&nbsp;&nbsp;&nbsp; -->
    <button routerLink='/farmerLogin' class="loginbutton">Go Back To Login Page</button>&nbsp;&nbsp;&nbsp;



</div>

</div>
</form>