<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<table *ngIf="tempViewSoldHistory">
	<tr>
		<th>Sell Request Date</th>
		<th>Crop Name</th>
		<th>Quantity</th>
		<th>MSP</th>
		<th>Sold Price</th>
		<th>Total Price</th>
	</tr>
	<tr *ngFor="let soldHistory of tempViewSoldHistory">
		<td>{{soldHistory[0].slice(0,10)}}</td>
		<td>{{soldHistory[1]}}</td>
		<td>{{soldHistory[2]}}</td>
		<td>{{soldHistory[3]}}	</td>
		<td>{{soldHistory[4]}}</td>
		<td>{{soldHistory[5]}}</td>
	</tr>
</table>

	<a routerLink="/farmerDashboard" style="font-size: large;" class="button"> 		Back		</a>


<br>
<br>
<br>
