<img src="../assets/FarmEasyLogo1.jfif" class="nav"> 
<nav class="navbar">
    <a style="font-size: x-large;" routerLink='/home' class="nav">Home</a> 
    <a style="font-size: x-large;" routerLink='/about' class="nav">About</a>
    <a style="font-size: x-large;" routerLink='/farmerLogin' class="nav">Farmer-Login</a>   
    <a style="font-size: x-large;" routerLink='/bidderLogin' class="nav">Bidder-Login</a> 
    <a style="font-size: x-large;" routerLink='/contactUs'class="nav">Contact Us</a>  
    
  </nav>
<!--   
  <div>
    <img src="../assets/food-sunset-love-field.jpg"/>
  </div>
   -->
  
  
  <div class="frames">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  </div>